# ---- Python ----
__pycache__/
*.py[cod]
*.pyo

# ---- Virtual environment ----
venv/
.env/
.env.*

# ---- Flask ----
instance/
.webassets-cache/

# ---- Nix ----
.result
result
.direnv/
.envrc

# ---- IDEs / Editors ----
.idea/
.vscode/
*.swp

# ---- OS ----
.DS_Store
Thumbs.db
